
# Ignore .git folder (used by git CLI)
.git/

# Ignore .idea folder (used by JetBrains IDEs like PhpStorm)
.idea/

# Ignore macOS system files
.DS_Store

# Ignore .ftpquota file
.ftpquota

.htaccess_prod
.htaccess_test
.htaccess_local
http-client.env.json
.htaccess